.itensPesquisaInativo {

  background-color: #F1F1F1;
  position: absolute;
  top: 180px;
  left: 670px;
  border-style: none solid solid solid;
  border-width: 1px;
  border: none;
  width: 0%;
  height: 0%;
  overflow: scroll;
  opacity: 0;
  transition: opacity 0.2s
}

.itensPesquisaAtivo {

  background-color: #F1F1F1;
  position: absolute;
  top: 230px;
  left: 30.2%;
  cursor: pointer;
  border-style: solid solid solid solid;
  border-width: 1px;
  width: 39.2%;
  height: 20%;
  overflow: scroll;
  transition: opacity 0.2s;
  
}

#litxt {
  text-align: left;
  font-weight: bold;
  padding: 2px;
  font-size: 15px;
  margin: 1%;
}

#litxt:hover {
  text-align: left;
  color: white;
  background-color: #a9a9a9;
  padding: 2px 2px 2px 2px;
  font-weight: bold;
  transition: 0.2s;
}

#litxtNe {
  text-align: left;
  font-weight: bold;
  background-color: #e4f900;
  padding: 5px;
  font-size: 14PX;
}